<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css">
        <title>Hello!</title>
    </head>
    <body>
        <div class="contactWrapper">
        <a href="/"> Home</a> |
        <a href="portfolio"> Portfolio</a> |
        <a href="contact"> Contact</a> |
    <div class="form">
        <h2>Contact</h2>     
         <form class="form-horizontal col-xs-6 info">
                <label  for="name">Name:</label>
                <input type="text"><br><br>    
                <label  for="email">Email:</label>
                <input type="text"><br><br>
                <label  for="message">Message:</label>
                <input type="text"><br><br>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
    </body>
</html>