<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css">
        <title>Hello!</title>
    </head>
    <body>
       <div class="wrapper">
            <div class="galiciapic1">
                 <img src="~/images/cafeGalicia.jpeg">
            </div>
            <div class="me">
                <a href="/"> Home</a> |
                <a href="portfolio"> Portfolio</a> |
                <a href="contact"> Contact</a> |
                    <h2>HERIBERTO MIGUEL</h2>
                 <img  id ="mepic" src="~/images/me.jpeg">
               
                    <h2>ABOUT ME</h2>
                     <span>Cras ultricies ligula sed magna dictum porta. 
                     Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                      Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum 
                      sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                      Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id 
                      dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.
                     </span>
            </div>
            <div class="galiciapic1"  >
                <img  src="~/images/cafeGalicia.jpeg">
            </div>
    </div>
    </body>
</html>