<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css">
        <title>Hello!</title>
    </head>
    <body>

        <div class="projects">

        <a href="/"> Home</a> |
        <a href="portfolio"> Portfolio</a> |
        <a href="contact"> Contact</a> |
        <h2>Projects Page</h2><br>
            <div class="project1">
                  <img  height="200px" width="200px" src="~/images/csharp.jpeg">
                    <h2>C# Project</h2>
                     <span >Cras ultricies ligula sed magna dictum porta. 
                     Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                      Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum 
                      sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                      Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id 
                      dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.
                     </span>
            </div>
            <div class="project2">
            <img  height="200px" width="200px" src="~/images/csharpPopular.jpeg">

                    <h2>Second C# Project</h2>
                     <span>Cras ultricies ligula sed magna dictum porta. 
                     Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                      Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum 
                      sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                      Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id 
                      dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.
                     </span>
            </div>
            <div class="project3" >
            <img height="200px" width="200px" src="~/images/game.jpeg">
                
                    <h2>C# Game Project</h2>
                     <span>Cras ultricies ligula sed magna dictum porta. 
                     Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                      Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum 
                      sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                      Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id 
                      dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.
                     </span>
            </div>
        </div>
        
    </body>
</html>